.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5rem;
}
.header {
  padding-bottom: 1rem;
  border-bottom: 2px solid #ffe81f;
  margin-bottom: 2rem;
  text-align: center;
}
.header h1 {
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 2px;
}
